:root {
  --color-black:#212121;
  --color-grey:#718792;
  --color-grey-2:#91a7b2;
  --color-grey-light:#B0BEC5;
  --color-grey-light-2:#C5CED9;
  --color-red:#c62828;
  --color-red-light:#d65858; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: lightskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

#container {
  width: 30vw;
  height: 80vh;
  border: 5px solid var(--color-black);
  display: flex;
  flex-direction: column;
  box-shadow: 3px 3px 8px black; }
  @media only screen and (max-width: 1000px) {
    #container {
      width: 40vw; } }
  @media only screen and (max-width: 800px) {
    #container {
      width: 55vw; } }
  @media only screen and (max-width: 600px) {
    #container {
      width: 90vw; } }

.btn_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  background-color: var(--color-black); }
  .btn_container .calculator_btn {
    flex-basis: 22%;
    height: 13vh;
    font-size: 46px;
    border: none;
    cursor: pointer;
    background-color: var(--color-grey-light);
    box-shadow: 5px 5px 2px black;
    outline: none;
    border-radius: 5px; }
    @media only screen and (max-height: 450px) {
      .btn_container .calculator_btn {
        font-size: 32px; } }
    @media only screen and (max-height: 450px) {
      .btn_container .calculator_btn {
        height: 11vh; } }
    .btn_container .calculator_btn:hover {
      background-color: var(--color-grey-light-2); }
    .btn_container .calculator_btn:active {
      background-color: var(--color-grey-light);
      box-shadow: 3px 3px 2px black; }
    .btn_container .calculator_btn:focus {
      background-color: red; }
  .btn_container button.dark {
    background-color: var(--color-grey); }
    .btn_container button.dark:hover {
      background-color: var(--color-grey-2); }
    .btn_container button.dark:active {
      background-color: var(--color-grey); }
  .btn_container button.red {
    background-color: var(--color-red); }
    .btn_container button.red:hover {
      background-color: var(--color-red-light); }
    .btn_container button.red:active {
      background-color: var(--color-red); }
  .btn_container #equals {
    flex-basis: 98%; }

#calculator_input {
  width: 100%;
  height: 7vh;
  border: 5px solid var(--color-black);
  box-shadow: 2px 2px 2px black;
  font-size: 22px;
  border-radius: 1px;
  overflow: hidden;
  outline: none; }
  @media only screen and (max-height: 450px) {
    #calculator_input {
      height: 12vh; } }
